.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; /* Setting overflow-y: auto will allow the content 
  inside the element to scroll in the usual way, 
  but now descendant elements will be rendered relative to the fixed 
  perspective */
  
  /*Defining the height and perspective style properties of an element 
  will lock the perspective to its centre, 
  creating a fixed origin 3D viewport */
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* defines a layer of content to which the parallax effect 
  will be applied*/
}
.parallax__layer--base {
  transform: translateZ(0);
} /* The further the value is from 0 the more pronounced the parallax 
effect (i.e. translateZ(-10px) will scroll slower than translateZ(-1px)).*/

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}/* The scale factor can be calculated with 1 + (translateZ * -1)
 / perspective. For example, if our viewport perspective is set to 1px 
 and we translate an element -2px along the Z axis the correction scale 
 factor would be 3 */